@{
	var SiteTitle = "Conekt Payments"; //Conekt Unified Payment Solution
}

<div id="navbar" class="navbar navbar-inverse navbar-fixed-top shadow">
    <div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">@SiteTitle</a>
			<div class="nav-collapse collapse">
				<ul class="nav pull-right">
					<li><a href="#overview">
						<i class="icon-gray icon-ok"></i>
						Overview
					</a></li>
					<li><a href="#demo">
						<i class="icon-gray icon-star"></i>
						Demo
					</a></li>
					<li><a href="#docs">
						<i class="icon-gray icon-file"></i>
						Docs
					</a></li>
					@*<li><a href="#donate">
						<i class="icon-gray icon-thumbs-up"></i>
						Donate
					</a></li>*@
					<li><a href="#changelog">
						<i class="icon-gray icon-list"></i>
						Changelog
					</a></li>
					<li><a href="#roadmap">
						<i class="icon-gray icon-road"></i>
						Roadmap
					</a></li>
					<li><a href="/download">
						<i class="icon-gray icon-download"></i>
						Download
					</a></li>
					@*<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-gray icon-file"></i>
							Docs <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#docs">Project Dependencies</a></li>
							<li><a href="#docs">Validation</a></li>
							<li><a href="#docs">Responsive UI</a></li>
							<li><a href="#docs">Styling</a></li>
							<li><a href="#docs">Browser Support</a></li>
						</ul>
					</li>*@
					@*<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="nav-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>*@
				</ul>
			</div>
		</div>
    </div>
</div>