@{
	Layout = "~/Views/Home/Template.cshtml";
}

<div id="overview">
	<h3>Overview</h3>
	<p>
		Conekt Payments is an advanced payment framework designed to simplify development and integration of merchant services by providing developers with the tools to receieve payments and synchronize data with external accounting applications.
	</p>
	<p>
		Conekt Payments is provided with limited support but if you find a bug please submit an <strong>Issue</strong> with a brief description of the bug and a link to where it can be reviewed.
	</p>
</div>