@{
	Html.RenderPartial("Content-Overview");
}

@{
	Html.RenderPartial("Content-Demo");
}

@{
	Html.RenderPartial("Content-Docs");
}

@{
	Html.RenderPartial("Content-Changelog");
}

@{
	Html.RenderPartial("Content-Roadmap");
}


@*<div id="donate">
	<h3>Donate</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nibh tellus, tincidunt sit amet convallis sed, venenatis non eros. Mauris id est metus. Nullam cursus mattis lorem, nec blandit ipsum tristique eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec dictum nulla orci. Sed mattis eros vestibulum arcu posuere aliquam. Maecenas et pulvinar sapien. Duis eros nunc, interdum blandit aliquam a, accumsan eget est. Nam laoreet euismod consectetur. Aliquam erat volutpat. Suspendisse id diam metus, id porttitor tellus. Pellentesque sodales quam id dui vestibulum bibendum. Donec vitae lacus nisi. Phasellus sed massa sapien. Integer vitae nisi non ligula elementum venenatis ut vel sapien.
	</p>
</div>*@

@*<h3>We suggest the following steps:</h3>
<ol class="round">
	<li class="one">
		<h5>Demos</h5>
		View demos of the billing API.
		<a href="/demo/payment">Learn more…</a>
	</li>*@
	@*<li class="one">
		<h5>Getting Started</h5>
		ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
		a broad range of clients, including browsers and mobile devices. ASP.NET Web API
		is an ideal platform for building RESTful applications on the .NET Framework.
		<a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
	</li>

	<li class="two">
		<h5>Add NuGet packages and jump-start your coding</h5>
		NuGet makes it easy to install and update free libraries and tools.
		<a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
	</li>
	<li class="three">
		<h5>Find Web Hosting</h5>
		You can easily find a web hosting company that offers the right mix of features
		and price for your applications.
		<a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
	</li>*@
@*</ol>*@
