<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConektBillingEntities" connectionString="metadata=res://*/ConektBillingModel.csdl|res://*/ConektBillingModel.ssdl|res://*/ConektBillingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=server\SQLEXPRESS;Initial Catalog=Conekt_Billing;User Id=;Password=;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>